{% extends "dashboard.html" %}

{% block titulo %} Lista de Ventas {% endblock %}

{% block contenido %}

<div class="container mt-4">
    <h2>Lista de Ventas</h2>
    <a class="btn btn-success" href="{% url 'crearventa' %}">Crear Venta</a>
    <br></br>
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Cliente</th>
                <th scope="col">Total</th>
                <th scope="col">Impuesto</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha de Creación</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.fecha }}</td>
                <td>{{ venta.cliente }}</td>
                <td>{{ venta.total }}</td>
                <td>{{ venta.impuesto }}</td>
                <td>{{ venta.estado|yesno:"Activo,Inactivo" }}</td>
                <td>{{ venta.fecha_creacion }}</td>
                <td>
                    <a class="btn btn-info" href="{% url 'actualizarventa' venta.pk %}" role="button">Actualizar</a>
                    <a class="btn btn-info" href="{% url 'detalleventa' venta.pk %}" role="button">Ver detalles</a>
                    <a class="btn btn-danger" href="{% url 'eliminarventa' venta.pk %}" role="button">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No hay ventas disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
